<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="/js/underscore/underscore-min.js"></script>
    <script src="/js/backbone/backbone-min.js"></script>
    <script src="/js/jquery/jquery-min.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles/catan.css" />
    <title>Tester</title>
  </head>
  <body>
    <h1>Is this working?</h1>
    <p>And can I edit in real time?</p>
    <p>Can I use vars?<br /><em>{{{testVar}}}</em></p>
    <h3>{{{anotherVar}}}</h3>
  </body>
</html>