<!DOCTYPE html>
<html  lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="H2kWEXL1TiefvbZorSoGSpeYr63pK_rrSbWObIjiqkk" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <script src="/js/jquery/jquery-min.js"></script>
    <script src="/js/underscore/underscore-min.js"></script>
    <script src="/js/backbone/backbone-min.js"></script>
    <script src="/js/bootstrap/bootstrap.js"></script>

    <script src="/js/trendspace/views/footer.js"></script>
    <script src="/js/trendspace/views/login.js"></script>
    <script src="/js/trendspace/views/home.js"></script>
    <script src="/js/trendspace/views/header.js"></script>
    <script src="/js/trendspace/views/signup.js"></script>

    <script src="/js/trendspace/utils.js"></script>
    <script src="/js/trendspace/trendspace.js"></script>

    <link rel="stylesheet" type="text/css" href="/styles/trendspace.css" />
    <title>{{title}}</title>
  </head>
  <body>
    <div id="header"></div>
    <div id="contentWrapper" class="container">
      <div id="sideMenu"></div>
      <div id="content"></div>
    </div>
    <div id="footer"></div>
  </body>
</html>